<h1 class="text-center mt-5">Stupid Coach</h1>

<form class="from-group text-center mt-3"action="answer" data-turbo="false">
  <input class="from-control w-25 p-1" type="text" name="answer">
  <input class="btn btn-primary mb-1" type="submit" value="Ask!">
</form>
